<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户管理页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户性别</label>
                            <div class="layui-input-inline">
                                <select name="sex" lay-verify="" lay-search="">
                                    <option value="">所有</option>
                                    <option value="0">男</option>
                                    <option value="1">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户状态</label>
                            <div class="layui-input-inline">
                                <select name="status" lay-verify="" lay-search="">
                                    <option value="">所有</option>
                                    <option value="0">正常</option>
                                    <option value="1">停用</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>

                        <div class="layui-inline">
                            <button type="reset" class="layui-btn layui-btn-primary" id="lay-reset"
                                    lay-filter="data-reset-btn"><i class="layui-icon layui-icon-refresh"></i> 重 置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"><i
                        class="layui-icon"></i>新增
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-btn-disabled" disabled
                        lay-event="delete"><i class="layui-icon"></i>删除
                </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit"><i class="layui-icon"></i>编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete"><i
                    class="layui-icon"></i>删除</a>
        </script>

    </div>
</div>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>

<script id="sexTpl" type="text/html">
    {{#  if(d.sex == 0){ }}
    <button type="button" class="layui-btn layui-btn-xs" style="background-color: #0000FF">男</button>
    {{# } else { }}
    <button type="button" class="layui-btn layui-btn-xs" style="background-color: pink">女</button>
    {{#  } }}
</script>
<script id="statusTpl" type="text/html">
    {{#  if(d.status == 0){ }}
    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal">可用</button>
    {{# } else if(d.status == 1) { }}
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger">停用</button>
    {{#  } }}
</script>
<script th:inline="none">
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/admin/user/listUserAct',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", fixed: "left", event: 'check'},
                {field: 'id', title: 'ID', sort: true},
                {field: 'username', title: '用户名', align: "center"},
                {field: 'name', title: '姓名', align: "center"},
                {field: 'sex', title: '性别', templet: '#sexTpl', align: "center"},
                {field: 'phone', title: '手机', align: "center"},
                {field: 'status', title: '状态', templet: '#statusTpl', align: "center"},
                {title: '操作', templet: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                url: '/admin/user/searchUser'
                , where: {
                    username: data.field.username,
                    sex: data.field.sex,
                    status: data.field.status
                }, //设定异步数据接口的额外参数
                page: {
                    curr: 1
                }
            }, 'data');
            return false;
        });

        // 监听重置操作
        $("#lay-reset").click(function (data) {

            //执行重置重载
            table.reload('currentTableId', {
                url: '/admin/user/listUserAct'
                , where: {}, //设定异步数据接口的额外参数
                page: {
                    curr: 1
                }
            });
            $(".layui-form")[0].reset();
            layui.form.render();
            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/admin/user/addUser',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {
                /*console.log(obj)
                console.log(obj.event)*/

                // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                /*console.log(data);*/
                var del_idstr = "";
                data.forEach(function (val, index) {
                    del_idstr += val.id + "-";
                }),
                    console.log(del_idstr);
                /*  layer.alert(JSON.stringify(data));*/
                var lock=false;//默认未锁定
                layer.confirm("确定要删除选中的" + data.length + "条数据吗？", function (index) {
                    if (!lock) {
                        lock = true;
                        $.ajax({
                            url: "/admin/user/deleteUsersAct/" + del_idstr,
                            type: "post",
                            success: function (data) {
                                console.log(data)
                                if (data.code == 1) {
                                    layer.msg(data.msg, {
                                        shade: [0.2, '#fff'],
                                        time: 1000
                                    }, function () {
                                        //执行重置重载
                                        table.reload('currentTableId', {
                                            url: '/admin/user/listUserAct'
                                            , where: {}, //设定异步数据接口的额外参数
                                            page: {
                                                curr: 1
                                            }
                                        });
                                    });
                                } else {
                                    layer.msg(data.msg, {
                                        shade: [0.2, '#fff'],
                                        time: 1000
                                    });
                                }
                            }
                        });
                    }
                    layer.close(index)
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            /*console.log(obj)*/
            var checkStatus = table.checkStatus('currentTableId')
                , data = checkStatus.data;
            /*console.log(checkStatus)*/
            if (data.length == 0) {
                $(".data-delete-btn").addClass("layui-btn-disabled").attr("disabled",true);;
            } else {
                $(".data-delete-btn").removeClass("layui-btn-disabled").attr("disabled",false);;
            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/admin/user/editUser/' + data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                var lock = false;
                layer.confirm('确定删除该条用户信息吗？', function (index) {
                    if (!lock) {
                        lock = true;
                        $.ajax({
                            url: "/admin/user/deleteUserAct",
                            type: "post",
                            data: {id: data.id},
                            dataType: "json",
                            success: function (data) {
                                /*console.log(data)*/
                                if (data.code == 1) {
                                    layer.msg(data.msg, {
                                        shade: [0.2, '#fff'],
                                        time: 1000
                                    }, function () {
                                        obj.del();
                                    });
                                } else {
                                    layer.msg(data.msg, {
                                        shade: [0.2, '#fff'],
                                        time: 1000
                                    });
                                }

                            }
                        });
                    }
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>