<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>

</head>
<body>
<div class="col-md-offset-1 col-md-12" style="background-color: white;">
    <div class="noti-header">修改资料</div>

    <div class="empty-line"></div>

    <div id="noti-list-inner">
        <div class="text-center">
            <div class="layui-form layuimini-form">
                <div class="layui-form-item ">
                    <label class="layui-form-label myrequired" style="width: 100px">初始密码</label>
                    <div class="layui-input-block" >
                        <input type="password" name="oldpassword" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入初始密码"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label myrequired" style="width: 100px">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入新密码"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label myrequired" style="width: 100px">确认新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password2" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请再一次确认密码"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="id" th:value="${id}">
                        <button class="layui-btn" lay-submit lay-filter="saveBtn">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-row"></div>
    </div>
</div>
<script>
    layui.use(['form','layer'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            data = data.field;
            if (data.password == ''|| data.password.length>10) {
                layer.msg('密码长度不能大于10');
                return false;
            }
            if (data.password != data.password2) {
                layer.msg('密码不一致');
                return false;
            }
            $.ajax({
                url:"/dashboard/personal/editpasswordAct/"+data.id,
                type:"post",
                data:data,
                dataType:"json",
                success: function(data) {
                    if (data.code == 0) {
                        layer.msg(data.msg +',请重新登入',{
                            shade:[0.2,'#fff'],
                            time:1000,
                        },function () {
                            window.location.href='/logoutToLogin';
                        })
                    } else {
                        layer.msg(data.msg,{
                            shade:[0.2,'#fff'],
                            time: 1000
                        })
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>