<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>大学生兼职平台-兼职</title>
    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- 让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <script type="text/javascript" src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <script type="text/javascript" src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <!-- 引入全局配置 -->
    <link rel="stylesheet" type="text/css" href="./css/oneself/start.css" th:href="@{/css/oneself/start.css}">
    <!-- 导航条 -->
    <link rel="stylesheet" href="./css/oneself/navigationbar.css" th:href="@{/css/oneself/navigationbar.css}">
    <!-- 弹出框 -->
    <link rel="stylesheet" href="./js/dialog/css/zdialog.css" th:href="@{/js/dialog/css/zdialog.css}">
    <!-- ptjob.css -->
    <link rel="stylesheet" href="./css/oneself/pijob.css" th:href="@{/css/oneself/pijob.css}">
    <!-- 媒体查询css -->
    <link rel="stylesheet" href="./css/oneself/media.css" th:href="@{/css/oneself/media.css}">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/lib/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
<!-- 头部 -->
<div class="t_bj">
    <div class="container heard_div ">
        <span>为大学生提供优质兼职服务平台！</span>
        <span style="float:right;position: relative;" class="v-father">
            <div id="login" th:if="${session.frontuser}==null">
                    <span class="man" style="color:#ff6700"><i class="glyphicon glyphicon-user"></i></span>
                    <a style="color:#ccc" class="y-deng"></a>
                    <a href="/login" style="color:#ccc" class="v-deng">登陆</a>
                    <a href="/register" class="v-deng"
                       style="display: inline-block;height:40px;width: 80px;text-align: center;color: #fff;background-color: #ff6700;margin-left: 20px;">立即注册</a>
            </div>
            <div id="personal" th:if="${session.frontuser}!=null">
                <ul class="layui-nav" style="background-color: #2F2F32 !important; font-size: 20px !important;">
                <li class="layui-nav-item layuimini-setting">
                <a href="javascript:;">[[${session.frontuser.name}]]</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/dashboard/personal">个人中心</a></dd>
                        <dd><a href="/logout">退出登入</a></dd>
                    </dl>
                </li>
                </ul>
            </div>

        </span>
    </div>
</div>
<!-- 导航条 -->
<nav class="navbar navbar-default head">
    <div class="container" style="height:100%">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header heights">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top:15px">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}" style="margin-top:-15px;">
                <img alt="Brand" src="./images/logo1.png" th:src="@{/images/logo1.png}">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="margin-right:0;">
                <li><a href="/" class="active-head" style="color:#000!important;">首页 <span
                        class="sr-only">(current)</span></a></li>
                <li><a href="#" th:href="@{/ptjob(place='all',type='all')}" class="active-head">兼职</a></li>
                <li><a href="#" th:href="@{/news}">最新资讯</a></li>
                <li><a href="#" th:href="@{/abouts}">关于我们</a></li>
            </ul>
            <!-- /.col-lg-6 -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 内容区 -->
<div class="container pi_content">
    <div class="container" style="padding:5px 0px 0px 25px;">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h2>[[${job.name}]]</h2>
                <div class="status"><span>职位状态：</span><span th:text="${job.status==0?'已审核':'未审核'}"></span></div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div>
                    <div th:switch="${job.type}" class="type">
                        <span th:case="Tutoring">工作类型：家教</span>
                        <p th:case="waimai">工作类型：外卖</p>
                        <p th:case="express">工作类型：快递</p>
                        <p th:case="kefu"> 工作类型：客服</p>
                        <p th:case="xiaoshou"> 工作类型：销售</p>
                        <p th:case="others"> 工作类型：其他</p>
                    </div>
                    <div th:switch="${job.place}">
                        <span th:case="donghu">工作地点：东湖区</span>
                        <p th:case="xihu">工作地点：西湖区</p>
                        <p th:case="qingyunpu">工作地点：青云谱区</p>
                        <p th:case="wanli"> 工作地点：湾里区</p>
                        <p th:case="xinjian"> 工作地点：新建区</p>
                        <p th:case="nanchangxian"> 工作地点：南昌县</p>
                        <p th:case="jinxian">工作地点：进贤县</p>
                        <p th:case="anyi">工作地点：安义县</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div>
                    <div class="type"><span>发布时间:[[${#dates.format(job.createtime,'yyyy-MM-dd')}]]</span></div>
                    <div><span>联系方式:[[${job.contact}]]</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div style="float:right;margin-right: 10px"><span style="color: #35c99d;font-size: 15px">[[${job.salary}]]</span>
                </div>
                <div>
                    <div class="type"><span>所需人数:[[${job.personnum}]]</span></div>
                    <div><span>商家:[[${job.user.name}]]</span></div>
                </div>
            </div>
        </div>

        <div class="content" style="position: relative;border-top: 5px solid rgba(229, 229, 229,0.5);padding-top: 18px">
            <!-- job详细信息 -->
            <div class="job_info">
                <h4 style="padding:5px 0px 0px 2px;border-left: solid 4px #00A3F8;font-size: 18px"><span
                        style="">工作详情</span></h4>
                <!-- 短线 START -->
                <div class="describe">
                    <p class="p1" th:text="${job.information}"></p>
                </div>
                <div style="text-align: center;">
                    <button class="layui-btn layui-btn-normal" id="applyPosition">投递职位</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部-->
<div class="dibu">
    <div class="container pad">
        <div class="dibu_div">
            <div class="dibu_left">
                <a href="/abouts" class="col-md-2 col-sm-3 col-xs-4">关于我们</a>
                <a href="/abouts" class="col-md-2 col-sm-3 col-xs-4">联系我们</a>
                <a href="/abouts" class="col-md-2 col-sm-3 col-xs-4">帮助中心</a>
                <a href="/admin/login" class="col-md-2 col-sm-3 col-xs-4"><span>后台</span>管理</a>
                <span class="col-xs-12">Copyright©2020 大学校园兼职平台 版权所有 </span>
            </div>
            <div class="dibu_right">
                <img src="./images/wechat1.png" alt="" th:src="@{/images/wechat1.png}">
                <span class="hidden-xs">扫一扫<span class="hidden-sm hidden-md">联系客服</span></span>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="./js/jquery-1.12.2.js" th:src="@{/js/jquery-1.12.2.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="./js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script th:inline="javascript">

    layui.use(['element', 'layer'], function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        var layer = layui.layer;
    });
    $('#applyPosition').click(function () {
        var frontuser = [[${session.frontuser}]];
        if (frontuser == null) {
            layer.msg('您还没有登录,请先登入');
            return false;
        }
        if ([[${session.roleids}]] != null && [[${session.roleids}]].indexOf("2") > -1) {
            layer.msg('商家不能申请哦！');
            return false;
        }
        if ([[${session.cardImage}]] == null) {
            layer.msg('请先到个人中心进行学生认证！');
            return false;
        }

        if ([[${session.resume}]] == null) {
            layer.msg('请先到个人中心填写简历信息！');
            return false;
        }

        var jobId = [[${job.id}]];
        var recruiterId = [[${job.user.id}]];

        $.ajax({
            type: "post",
            url: "/application/applyPosition",
            data: {
                jobId: jobId,
                recruiterId: recruiterId
            },
            dataType: "json",
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {
                        shade: [0.2, '#d2cccc'],//#ada1a1
                        time: 1000
                    })
                } else {
                    layer.msg(data.msg, {
                        time: 1000
                    });
                }
            }

        });
    })
</script>

</body>
</html>