<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>大学生兼职平台-兼职</title>
    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- 让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <script type="text/javascript" src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <script type="text/javascript" src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <!-- 引入全局配置 -->
    <link rel="stylesheet" type="text/css" href="./css/oneself/start.css" th:href="@{/css/oneself/start.css}">
    <!-- 导航条 -->
    <link rel="stylesheet" href="./css/oneself/navigationbar.css" th:href="@{/css/oneself/navigationbar.css}">
    <!-- 弹出框 -->
    <link rel="stylesheet" href="./js/dialog/css/zdialog.css" th:href="@{/js/dialog/css/zdialog.css}">
    <!-- ptjob.css -->
    <link rel="stylesheet" href="./css/oneself/ptjob.css" th:href="@{/css/oneself/ptjob.css}">
    <!-- 媒体查询css -->
    <link rel="stylesheet" href="./css/oneself/media.css" th:href="@{/css/oneself/media.css}">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/lib/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
<!-- 头部 -->
<div class="t_bj">
    <div class="container heard_div ">
        <span>为大学生提供优质兼职服务平台！</span>
        <span style="float:right;position: relative;" class="v-father">
            <div id="login" th:if="${session.frontuser}==null">
                    <span class="man" style="color:#ff6700"><i class="glyphicon glyphicon-user"></i></span>
                    <a style="color:#ccc" class="y-deng"></a>
                    <a href="/login" style="color:#ccc" class="v-deng">登陆</a>
                    <a href="/register" class="v-deng"
                       style="display: inline-block;height:40px;width: 80px;text-align: center;color: #fff;background-color: #ff6700;margin-left: 20px;">立即注册</a>
            </div>
            <div id="personal" th:if="${session.frontuser}!=null">
                <ul class="layui-nav" style="background-color: #2F2F32 !important; font-size: 20px !important;">
                <li class="layui-nav-item layuimini-setting">
                <a href="javascript:;">[[${session.frontuser.name}]]</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/dashboard/personal">个人中心</a></dd>
                        <dd><a href="/logout">退出登入</a></dd>
                    </dl>
                </li>
                </ul>
            </div>

        </span>
    </div>
</div>
<!-- 导航条 -->
<nav class="navbar navbar-default head">
    <div class="container" style="height:100%">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header heights">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top:15px">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}" style="margin-top:-15px;">
                <img alt="Brand" src="./images/logo1.png" th:src="@{/images/logo1.png}">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="margin-right:0;">
                <li><a href="/" class="active-head" style="color:#000!important;">首页 <span
                        class="sr-only">(current)</span></a></li>
                <li><a href="#" th:href="@{/ptjob(place='all',type='all')}" class="active-head">兼职</a></li>
                <li><a href="#" th:href="@{/news}">平台公告</a></li>
                <li><a href="#" th:href="@{/abouts}">关于我们</a></li>
            </ul>
            <!-- /.col-lg-6 -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 内容区 -->
<div class="container " style="padding: 20px 0;">

    <!-- 筛选 -->
    <div>
        <div class="pt_screen container">
            <div class="select-box">
                <ul class="place">
                    <li>所在区域</li>
                    <li value="all" class="">不限</li>
                    <li value="donghu">东湖区</li>
                    <li value="xihu">西湖区</li>
                    <li value="qingyunpu">青云谱区</li>
                    <li value="wanli">湾里区</li>
                    <li value="xinjian">新建区</li>
                    <li value="nanchangxian">南昌县</li>
                    <li value="jinxian">进贤县</li>
                    <li value="anyi">安义县</li>
                </ul>
                <ul class="pttype">
                    <li>兼职类型</li>
                    <li value="all" class="">全部</li>
                    <li value="Tutoring">家教</li>
                    <li value="waimai">外卖</li>
                    <li value="express">快递</li>
                    <li value="kefu">客服</li>
                    <li value="xiaoshou">销售</li>
                    <li value="others">其他</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 职位展示 -->
    <div th:if="${pageInfo.total}==0" class="pt_recruitment">
        <div style="text-align: center">
            暂无数据
        </div>
    </div>

    <div th:if="${pageInfo.total}!=0">
        <div id="joblist" th:each="job:${pageInfo.list}">
            <div class="job layui-row">
                <div class="jobleft layui-col-md10">
                    <a href="#" th:href="@{/pijob/{id}(id=${job.id})}">
                        <h4 style="font-size: 20px">[[${job.name}]]</h4>
                        <div>
                            <div class="desc">
                                <p>[[${job.information}]]</p>
                            </div>
                            <div th:switch="${job.place}" style="float: left;margin: 30px">
                                <p th:case="donghu"><i class="fa fa-map-marker"
                                                       style="color: #16e016;font-size:large"></i> 地区：东湖区</p>
                                <p th:case="xihu"><i class="fa fa-map-marker"
                                                     style="color: #16e016;font-size:large"></i> 地区：西湖区</p>
                                <p th:case="qingyunpu"><i class="fa fa-map-marker"
                                                          style="color: #16e016;font-size:large"></i> 地区：青云谱区</p>
                                <p th:case="wanli"><i class="fa fa-map-marker"
                                                      style="color: #16e016;font-size:large"></i> 地区：湾里区</p>
                                <p th:case="xinjian"><i class="fa fa-map-marker"
                                                        style="color: #16e016;font-size:large"></i> 地区：新建区</p>
                                <p th:case="nanchangxian"><i class="fa fa-map-marker"
                                                             style="color: #16e016;font-size:large"></i> 地区：南昌县</p>
                                <p th:case="jinxian"><i class="fa fa-map-marker"
                                                        style="color: #16e016;font-size:large"></i> 地区：进贤县</p>
                                <p th:case="anyi"><i class="fa fa-map-marker"
                                                     style="color: #16e016;font-size:large"></i> 地区：安义县</p>
                            </div>
                        </div>
                        <div class="user" style="margin:10px">
                            <div class="userinfo" style="float:right">
                                <span>发布时间：[[${#dates.format(job.createtime,'yyyy-MM-dd')}]]</span>
                                <div style="margin: 10px">商家：[[${job.user.name}]]</div>
                            </div>
                        </div>
                    </a>
                    <!--<input type="hidden" th:value="${job.user.id}" name="recruiterId"/>-->
                </div>
                <div class="jobright layui-col-md2" style="padding:20px 5px 15px 40px;">
                    <div style="margin: 10px">工资：<span style="color:#f60;">[[${job.salary}]]</span></div>
                    <div style="margin: 10px 1px 10px 10px">电话：[[${job.user.phone}]]</div>
                    <div style="margin: 10px">
                        <button class="layui-btn layui-btn-normal" th:id="${job.id}" th:recruiterId="${job.user.id}">投递职位</button>
                    </div>
                </div>
            </div>
        </div>
        <!--分页-->
        <div aria-label="Page navigation" class="layui-row">
            <div class="layui-col-md12 paging ">
                <ul class="pagination pagination-lg">
                    <li><a href="#" th:if="${pageInfo.pageNum}!=1"
                           th:href="@{/ptjob(place=${place},type=${type},pageNum=1)}">&laquo;</span></a></li>
                    <li><a href="#" th:if="${pageInfo.pageNum}!=1"
                           th:href="@{/ptjob(place=${place},type=${type},pageNum=${pageInfo.prePage})}">‹</a></li>
                    <li><a href="#" th:if="${pageInfo.pageNum}-3>0" class="not-allowed">...</a></li>
                    <li><a href="#" th:if="${pageInfo.pageNum}-2>=1"
                           th:href="@{/ptjob(place=${place},type=${type},pageNum=${pageInfo.pageNum}-2)}"
                           th:text="${pageInfo.pageNum}-2"></a></li>
                    <li><a href="#" th:if="${pageInfo.hasPreviousPage}"
                           th:href="@{/ptjob(place=${place},type=${type},pageNum=${pageInfo.pageNum}-1)}"
                           th:text="${pageInfo.pageNum}-1"></a></li>
                    <li class="active"><a href="#"
                                          th:href="@{/ptjob(place=${place},type=${type},pageNum=${pageInfo.pageNum})}"
                                          th:text="${pageInfo.pageNum}"></a></li>
                    <li><a href="#" th:if="${pageInfo.hasNextPage}"
                           th:href="@{/ptjob(place=${place},type=${type},pageNum=${pageInfo.pageNum+1})}"
                           th:text="${pageInfo.pageNum+1}"></a></li>
                    <li><a href="#" th:if="${pageInfo.pageNum}+2<${pageInfo.pages}"
                           th:href="@{/ptjob(place=${place},type=${type},pageNum=${pageInfo.pageNum+2})}"
                           th:text="${pageInfo.pageNum+2}"></a></li>
                    <li><a href="#" th:if="${pageInfo.pages}-${pageInfo.pageNum}>3" class="not-allowed">...</a></li>
                    <li><a href="#" th:if="${pageInfo.hasNextPage}"
                           th:href="@{/ptjob(place=${place},type=${type},pageNum=${pageInfo.nextPage})}">›</a></li>
                    <li><a href="#" th:if="${pageInfo.pageNum}!=${pageInfo.pages}"
                           th:href="@{/ptjob(place=${place},type=${type},pageNum=${pageInfo.pages})}">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div>
<!-- 底部-->
<div class="dibu">
    <div class="container pad">
        <div class="dibu_div">
            <div class="dibu_left">
                <a href="/abouts" class="col-md-2 col-sm-3 col-xs-4">关于我们</a>
                <a href="/abouts" class="col-md-2 col-sm-3 col-xs-4">联系我们</a>
                <a href="/abouts" class="col-md-2 col-sm-3 col-xs-4">帮助中心</a>
                <a href="/admin/login" class="col-md-2 col-sm-3 col-xs-4"><span>后台</span>管理</a>
                <span class="col-xs-12">Copyright©2020 大学校园兼职平台 版权所有 </span>
            </div>
            <div class="dibu_right">
                <img src="./images/wechat1.png" alt="" th:src="@{/images/wechat1.png}">
                <span class="hidden-xs">扫一扫<span class="hidden-sm hidden-md">联系客服</span></span>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="./js/jquery-1.12.2.js" th:src="@{/js/jquery-1.12.2.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="./js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(['element', 'layer'], function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        var layer = layui.layer;
    });
    $('.layui-btn').click(function () {
        var frontuser = [[${session.frontuser}]];
        if (frontuser == null) {
            layer.msg('您还没有登录,请先登入');
            return false;
        }
        if ([[${session.roleids}]] != null && [[${session.roleids}]].indexOf("2") > -1) {
            layer.msg('商家不能申请哦！');
            return false;
        }
        if ([[${session.cardImage}]] == null) {
            layer.msg('请先到个人中心进行学生认证！');
            return false;
        }
        if ([[${session.resume}]] == null) {
            layer.msg('请先到个人中心填写简历信息！');
            return false;
        }
        /*        var arrUl = jQuery(".jobleft");
                $.each(arrUl, function(){
                    alert(jQuery(this).find("img").attr("id"));
                });*/
        var jobId = $(this).attr("id");
        var recruiterId = $(this).attr("recruiterId");
        $.ajax({
            type: "post",
            url: "/application/applyPosition",
            data: {
                jobId: jobId,
                recruiterId: recruiterId
            },
            dataType: "json",
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {
                        shade: [0.2, '#d2cccc'],//#ada1a1
                        time: 1000
                    })
                } else {
                    layer.msg(data.msg, {
                        time: 1000
                    });
                }
            }

        });
    })
</script>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        changeStatus(window.location.href);
    }

    function getUrlData(place, type) {

        // $("#joblist").load("/PtjobByPlaceAndType",{place:place,type:type});
        /* $("#joblist").load("/findjobs",{place:place,type:type});*/
        /*   $.ajax({
               url:"/ptjob",
               type:"post",
               data:{
                   place:place,
                   type:type
               },dataType:"json",
               success: function(data) {
                   var dataObj=  data.data;
                   for(var i=0;i<dataObj.length;i++){
                       console.log(dataObj[i]);
                       $("#joblist").html("<div>" + dataObj[i].name + "</idv>");
                   }
               }
           })*/
        window.location.href = "/ptjob?place=" + place + "&type=" + type;
    }


    //选择条件切换
    $(".select-box li").click(function () {
        $(this).addClass('on').siblings().removeClass("on");
        /* alert(getSelect());*/
        getSelect()
    });

    function getSelect() {
        var url = window.location.href;
        var arr = [];
        var select = [];
        arr = url.split("?");
        url = arr[0]

        $(".select-box ul").each(function () {

            var p = $(this);
            var _where = [], name, attr;
            _where['name'] = $(this).attr("class");
            /*console.log(_where['name']);*/
            p.find("li").each(function () {
                if ($(this).hasClass("on")) {
                    _where['attr'] = $(this).attr("value");

                }

            });
            select.push(_where)
        });

        if (select.length > 1) {

            var url1 = '';
            var place = select[0]['attr'];
            var type = select[1]['attr'];
            getUrlData(place, type)

            /*            for (var i = 0; i < select.length; i++) {
                           /!* url1 += select[i]['name'] + "=" + select[i]['attr'] + "&";*!/

                        }*/
            /*url =  "/ptjob?" + url1;*/
            /* return url.substr(0, url.length - 1);*/
        }
    }

    function changeStatus(url) {
        /*console.log(url);*/
        var params = url.split("?")[1];
        /*console.log(params);*/
        if (params) {
            _arr = params.split("&");
            /*  console.log(_arr);*/
        } else {
            return false;
        }

        //对应URL参数获选已选择 手枪的，添加ON样式
        for (var i = 0; i < _arr.length; i++) {
            var name, attr;
            var _name = $(".select-box > ul").eq(i).attr("class");
            var div_attr = $(".select-box > ul").eq(i).find("li");
            var _attr;

            name = _arr[i].split("=")[0];
            attr = _arr[i].split("=")[1];
            div_attr.each(function () {
                var obj = $(this)
                _attr = obj.attr("value");
                if (name == name && attr == _attr) {
                    obj.addClass("on").siblings().removeClass("on");
                }
            });
        }
    }

</script>

</body>
</html>